<div id="carrito-overlay" onclick="toggleCarrito()"></div>

<aside id="carrito-lateral" class="carrito-sidebar">
    <div class="carrito-header">
        <h3>Tu Carrito</h3>
        <button id="btn-cerrar-carrito" onclick="toggleCarrito()">&times;</button>
    </div>

    <div id="carrito-items-lista">
        <p class="carrito-vacio">Tu carrito está vacío</p>
    </div>


<div class="carrito-footer">
    <div id="carrito-total-monto">
        <span style="font-size: 0.9rem; color: #64748b; font-weight: bold;">Precio: Pendiente de Cotización</span>
    </div>
    
    <button onclick="window.location.href='cotizacion.html'" class="btn-checkout">
        Ir a mi Cotización
    </button>
</div>
</aside>
